# X (Twitter) API Credentials
X_API_KEY=hDwv5aw3lREUqbIpCxPOYHQ5E
X_API_KEY_SECRET=U2DMybahajS0hO5eozeR0U75JOTGzORMwz6Ecp3nJtjPYnPDiA
X_ACCESS_TOKEN=2028697416963334144-JFNgmmAM6SLWnabAdPBP1xjgFD5f1O
X_ACCESS_TOKEN_SECRET=PG18JrBIuyXjOAE3k0TKUYOjRgAParYnTmT37EO6qL3oJ
# Site Configuration
SITE_URL=https://sirenav.com
API_ENDPOINT=https://sirenav.com/api/samples # Placeholder
